.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.employee-list {
  padding: 50px;
}

.add-employee {
  margin: 50px;
  padding: 20px;
  border-radius: 18px;
  border-color: darkgrey;
  border-style: solid;
  text-align: center;
}

.employee-list-col {
  padding-bottom: 20px;
}

.employee-hierarchy {
  padding: 50px;

}